/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/servicetrade-0.0.1.gem
/servicetrade-*
# rspec failure tracking
.rspec_status
.DS_Store
.servicetrade.sublime-workspace